.card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px rgb(189, 208, 221);
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .title {
    display: flex;
    gap: 15px;
    align-items: center;
}

.card img {
    width: auto;
    max-height: 50px;
    margin-right: 10px;
}

@media (max-width: 600px) {
    .card {
        display: inline;
    }
}

.technologies {
    display: flex;
    gap: 10px;
}

.technologies p {
    background-color: rgb(149, 227, 255);
    padding: 5px;
    color: rgb(28, 78, 126);
    border-radius: 10px;
}