code-input {
    border: solid 1px;
    width: 100%;
    max-height: 30vh;
}

form {
    display: flex;
    height: 35vh;
}

button {
    background-color: var(--main-bg-color);
    margin-left: 6px;
    margin-bottom: -5px;
    border: none;
    background-color: #b5b5b5;
}

button:hover {
    background-color: var(--main-theme-color);
    color: white;
}

.tab-content {
    top:0;
    position:absolute;
}

#stderr {
    visibility: collapse;
}

#returncode {
    visibility: collapse;
}

.terminal {
    position: relative;
    border: solid 1px;
    height: 6rem;
    width: 98%;
    overflow: scroll;
    margin-top: 2px;
    margin-left: 6px;
    margin-right: 6px;
    padding: 5px;
    font-size: 0.9rem;
    background-color: #F5F2F0;
}

.command {
    color: green;
}


.run-button {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

#btn-stdout {
    background-color: var(--main-bg-color);
    border: solid 1px;
}
