.intro {
    display: flex;
    align-items:center;
}

.intro img {
    align-items: center;
    width: 100px;
    margin: 5px;
    border-radius: 50px;
}

@media (max-width: 600px) {
    .intro img {
        width: 100px;
        height: 100px;
        margin-top: 50px;
    }
}

.network a {
    border: solid;
    margin: 2px;
    padding: 1px;
    border-radius: 10px;
}