body {
    background-color: rgb(243, 243, 243);
    font-family: system-ui;
    --main-bg-color: rgb(70, 128, 179);
}

a {
    color: var(--main-bg-color);
    text-decoration: none;
}

.intro {
    display: flex;
}

.intro img {
    align-items: center;
    width: 100px;
    margin: 5px;
    border-radius: 50px;
}

.network a {
    border: solid;
    margin: 2px;
    padding: 1px;
    border-radius: 10px;
    color: var(--main-bg-color)
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px rgb(189, 208, 221);
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
}

.card .title {
    display: flex;
    gap: 15px;
    align-items: center;
}

@media (max-width: 600px) {
    .intro img {
        width: 100px;
        height: 100px;
        margin-top: 50px;
    }
}