body {
    --main-theme-color: rgb(70, 128, 179);
    --main-bg-color: rgb(243, 243, 243);

    background-color: var(--main-bg-color);
    font-family: system-ui;
}

main {
    margin-top: 50px;
}

a {
    color: var(--main-theme-color);
    text-decoration: none;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: solid 1px var(--main-theme-color);
    font-size: 20px;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-top: 0px;
    background-color: var(--main-bg-color);
}

footer {
    margin-top: 15px;
    border-top: solid 1px var(--main-theme-color);
    font-size: 20px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

nav div{
    display: flex;
    gap: 25px;
}


.intro {
    display: flex;
}

.intro img {
    align-items: center;
    width: 100px;
    margin: 5px;
    border-radius: 50px;
}

.network a {
    border: solid;
    margin: 2px;
    padding: 1px;
    border-radius: 10px;
    color: var(--main-theme-color)
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px rgb(189, 208, 221);
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
}

.card .title {
    display: flex;
    gap: 15px;
    align-items: center;
}

.timestamp {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 25px;
}

.timestamp:nth-child(1){
    margin-top: 60px;
}

.timestamp b {
    color: rgb(42, 42, 154);
    font-size: 20px;
}

.timestamp .card {
    margin-top: -5px;
}

.point{
    --size_point: 15px;
    height: var(--size_point);
    width: var(--size_point);
    border-radius: var(--size_point);
    background-color: rgb(42, 42, 154);
}

@media (max-width: 600px) {
    .intro img {
        width: 100px;
        height: 100px;
        margin-top: 50px;
    }
}