body {
    background-color: rgb(243, 243, 243);
    font-family: system-ui;
    --main-bg-color: rgb(70, 128, 179);
}

a {
    color: var(--main-bg-color);
    text-decoration: none;
}

.intro {
    display: flex;
}

.intro img {
    max-width: 100px;
    margin: 5px;
    border-radius: 50px;
}

.network a {
    border: solid;
    margin: 2px;
    padding: 1px;
    border-radius: 10px;
    color: var(--main-bg-color)
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}