{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='timeline.css')}}">
{% endblock %}

{% block content %}
<div class="timeline">
    {% for education in educations %}
        <b>{{education.dates}}</b>
        <div class="timestamp">
            <div class="point"></div>
        </div>
        <div class="card line">
            <div>
                <div class="info">
                    <div class="title">
                        <b style="color:black;">{{education.name}}</b>
                        <p><a href={{education.link}}>{{education.school}}</a></p>
                    </div>
                </div>
                <p>{{education.description | safe}}</p>
            </div>
            <div>
                <img src={{education.logo}}/>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}