{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='timeline.css')}}">
{% endblock %}

{% block content %}
<div class="timeline">
    {% for experience in experiences %}
        <b>{{experience.dates}}</b>
        <div class="timestamp">
            <div class="point"></div>
        </div>
        <div class="card line">
            <div>
                <div class="info">
                    <div class="title">
                        <h3>{{experience.name}}</h3>
                        {% for company in experience.companies %}
                        <p><a href={{company.link}}>{{company.name}}</a></p>
                        {% endfor %}
                    </div>
                    <p>{{experience.description | safe}}</p>
                </div>
                <div class="tags">
                    {% for tag in experience.tags %}
                        <p>{{tag}}</p>
                    {% endfor %}
                </div>
            </div>
            <div>
                {% for logo in experience.logos %}
                    <img src={{logo}}/>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}