{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
{% endblock %}

{% block content %}
    <div class="intro">
        <img src="{{url_for('static', filename='img/me.jpg')}}" alt="Photo de ma bouille" />
        <div class="info">
            <h1> Chiara RELEVAT</h1>
            <p>Enseignante contractuelle à l'<a href="https://www.univ-rennes.fr/">Universitée de Rennes</a> 
                en informatique à l'<a href="https://istic.univ-rennes.fr/">ISTIC</a href="https://esir.univ-rennes.fr/"> et à l'<a>ESIR</a>.</p> 
            <div class="network">
                <a href="https://github.com/Chiara06830" target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/chiararelevat/" target="_blank">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
                <a href="email:chiara.relevat@univ-rennes.fr" target="_blank">
                    <i class="fa-regular fa-envelope"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}