{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
{% endblock %}

{% block content %}
    <div class="intro">
        <img src="{{url_for('static', filename='img/me.jpg')}}" alt="Photo de ma bouille" />
        <div class="info">
            <h1> Chiara RELEVAT</h1>
            <p>Enseignante contractuelle à l'<a href="https://www.univ-rennes.fr/">Universitée de Rennes</a> 
                en informatique à l'<a href="https://istic.univ-rennes.fr/">ISTIC</a href="https://esir.univ-rennes.fr/"> et à l'<a>ESIR</a>.</p> 
            <div class="network">
                <a href="https://github.com/Chiara06830" target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/chiararelevat/" target="_blank">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
                <a href="email:chiara.relevat@univ-rennes.fr" target="_blank">
                    <i class="fa-regular fa-envelope"></i>
                </a>
            </div>
        </div>
    </div>

    <div>
        <h1>Enseignements 2025-2026</h1>
        <p>Etant contractuelle je ne suis pas responsable de module. 
            Cependant j'interviens pour les TDs et TPs d'un ensemble de module à 
            tous niveau.</p>

        <h2>Premier semestre</h2>
        <div class="grid">
            <div class="card">
                <div>
                    <div class="title">
                        <h3>ACE</h3>
                        <p>Algorithme et Compléxité Expérimental</p>
                        <b>Licence 1 ISTN</b>
                    </div>
                    <p><i>Professseur responsable : </i> 
                        <a href="https://people.irisa.fr/Thomas.Genet/">Thomas GENET</a>
                    </p>
                    <div class="technologies">
                        <p>Java</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="title">
                        <h3>PO</h3>
                        <p>Programmation Objet</p>
                        <b>Licence 2 ISTN</b>
                    </div>
                    <p><i>Professseur responsable : </i> 
                        <a href="https://people.irisa.fr/Alexandre.Termier/">Alexandre TERMIER</a>
                    </p>
                    <div class="technologies">
                        <p>Java</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="title">
                        <h3>WEB</h3>
                        <p>Base de la programmation web</p>
                        <b>Licence 2 ISTN</b>
                    </div>
                    <p><i>Professseur responsable : </i> 
                        <a href="https://istic.univ-rennes.fr/interlocuteurs/fabien-guntz">Fabien GUNTZ</a>
                    </p>
                    <div class="technologies">
                        <p>HTML</p>
                        <p>CSS</p>
                        <p>Flask</p>
                        <p>Python</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="title">
                        <h3>PRA</h3>
                        <p>Programation Avancée</p>
                        <b>Licence 3 Informatique</b>
                    </div>
                    <p><i>Professseur responsable : </i> 
                        Véronique MASSON
                    </p>
                    <div class="technologies">
                        <p>Java</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="title">
                        <h3>NJava</h3>
                        <p>Remise à niveau Java</p>
                        <b>Licence 3 MIAGE</b>
                    </div>
                    <p><i>Professseur responsable : </i> 
                        <a href="https://istic.univ-rennes.fr/interlocuteurs/mickael-foursov">Mickaël FOURSOV</a>
                    </p>
                    <div class="technologies">
                        <p>Java</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="title">
                        <h3>WE</h3>
                        <p>Web Engineering</p>
                        <b>Master 1 Ingénieurie Logiciel</b>
                    </div>
                    <a href="https://olivier.barais.fr/d/teaching/we"> Site du cours</a>
                    <p><i>Professseur responsable : </i> 
                        <a href="https://olivier.barais.fr/">Olivier BARAIS</a>
                    </p>
                    <div class="technologies">
                        <p>JavaScript</p>
                        <p>TypeScript</p>
                        <p>Angular</p>
                        <p>Vue</p>
                        <p>React</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="title">
                        <h3>MOB</h3>
                        <p>Programation Mobile Android</p>
                        <b>Master 1 MIAGE</b>
                    </div>
                    <p><i>Professseur responsable : </i> 
                        <a href="https://istic.univ-rennes.fr/interlocuteurs/mickael-foursov">Mickaël FOURSOV</a>
                    </p>
                    <div class="technologies">
                        <p>Android Studio</p>
                        <p>Kotlin</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="title">
                        <h3>ASE</h3>
                        <p>Advanced Software Engineering</p>
                        <b>Troisième année de cycle ingénieure en génie logiciel</b>
                    </div>
                    <a herf="https://stephaniechallita.github.io/ase">Site du cours</a>
                    <p><i>Professseur responsable : </i> 
                        <a href="https://stephaniechallita.github.io/">Stéphanie CHALLITA</a>
                    </p>
                    <div class="technologies">
                        <p>EMF</p>
                        <p>Xtext</p>
                        <p>Langium</p>
                        <p>TypeScript</p>
                    </div>
                </div>
            </div>
        </div>

        <h2>Deuxième semestre</h2>
        <div class="grid">
            <div class="card">
                <div>
                    <div class="title">
                        <h3>GEN</h3>
                        <p>Génie Logiciel</p>
                        <b>Licence 2 ISTN</b>
                    </div>
                    <a herf="https://people.irisa.fr/Jean-Marc.Jezequel/enseignement/L2GEN/">Site du cours</a>
                    <p><i>Professseur responsable : </i> 
                        <a href="https://people.irisa.fr/Jean-Marc.Jezequel/">Jean-Marc Jezequel</a>
                    </p>
                    <div class="technologies">
                        <p>Java</p>
                        <p>JavaSwing</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="title">
                        <h3>BMO</h3>
                        <p>Base de la Modélisation Orientée Objets</p>
                        <b>Licence 3 Informatique</b>
                    </div>
                    <p><i>Professseur responsable : </i> 
                        <a href="https://people.irisa.fr/Jean-Marc.Jezequel/">Jean-Marc Jezequel</a>
                    </p>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="title">
                        <h3>SSYS</h3>
                        <p>Sécurité Système</p>
                        <b>Master 1 Cyber Responsable de la Sécurité des Systèmes d'Information</b>
                    </div>
                    <p><i>Professseur responsable : </i> 
                        <a href="https://olivier.barais.fr/">Olivier BARAIS</a>
                    </p>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="title">
                        <h3>IPD</h3>
                        <p>Programmation Réseau en Java</p>
                        <b>Master 1 Cloud et Réseau</b>
                    </div>
                    <p><i>Professseur responsable : </i> 
                        <a href="https://istic.univ-rennes.fr/interlocuteurs/yoann-maurel">Yoann MAUREL</a>
                    </p>
                    <div class="technologies">
                        <p>Java</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}