<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="/static/style.css">
        <script src="https://kit.fontawesome.com/4bed252b70.js" crossorigin="anonymous"></script>
        <title>Chiara RELEVAT</title>
    </head>
    <body>
        <div class="intro">
            <img src="/static/me.jpg" alt="Photo de ma bouille" />
            <div class="info">
                <h1> Chiara RELEVAT</h1>
                <p>Teacher at <a href="https://www.univ-rennes.fr/">University of Rennes</a> 
                    in computer science at <a href="https://istic.univ-rennes.fr/">ISTIC</a>.</p> 
                <div class="network">
                    <a href="https://github.com/Chiara06830" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/chiararelevat/" target="_blank">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>