{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='codeblock.css')}}">

    <script>
        function syncPre() {
            document.getElementById("hiddenInput").value =
            document.getElementById("code").innerText;
        }
    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.30/themes/prism.min.css">
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.30/components/prism-core.min.js" data-manual></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.30/plugins/autoloader/prism-autoloader.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/WebCoder49/code-input@2.8/code-input.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/WebCoder49/code-input@2.8/code-input.min.css">
    <script src="https://cdn.jsdelivr.net/gh/WebCoder49/code-input@2.8/plugins/indent.min.js"></script>
    <script>
        codeInput.registerTemplate("syntax-highlighted", new codeInput.templates.Prism(Prism, [new codeInput.plugins.Indent()]));
    </script>

    <script>
        function switchTab(event, sectionId) {
            // changement d'affichage du terminal
            var tabs = document.getElementsByClassName("tab-content")
            for (let i in tabs) {
                item = tabs[i]
                if (item.id !== undefined && item.id !== sectionId) {
                    item.style.visibility = "collapse"
                } else if(item.id === sectionId) {
                    item.style.visibility = "visible"
                }
            }

            // changement de style du bouton
            var button_selected = event.target
            var btns = document.getElementsByClassName("tab-header")
            for (let i in btns) {
                btn = btns[i]
                if (btn.style !== undefined) {
                    if (btn === button_selected) {
                        button_selected.style.backgroundColor = window.getComputedStyle(document.body).getPropertyValue('--main-bg-color')
                        button_selected.style.border = "solid 1px"
                    } else {
                        btn.style.backgroundColor = "#b5b5b5"
                        btn.style.border = "none"
                    }
                }
            }
        }
    </script>
{% endblock %}

{% block content %}
    <h1>Playground OCaml</h1>
    <form method="post" onsubmit="syncPre()">
        <div class="run-button">
            <input type="submit" formaction="/compile_ocaml" value="Compile">
            {% if result["stderr"] %}
                <input type="submit" formaction="/run_ocaml" value="Execute" disabled>
            {% else %}
                <input type="submit" formaction="/run_ocaml" value="Execute">
            {% endif %}
        </div>

        <code-input language="OCaml"><textarea data-code-input-fallback id="code">{{file_content}}</textarea></code-input>
        <input type="hidden" name="code" id="hiddenInput">
    </form>
    
    <button class="tab-header" id="btn-stdout" onClick="switchTab(event, 'stdout')">
        Sortie standard
    </button>
    <button class="tab-header" onClick="switchTab(event, 'stderr')">
        Sortie d'erreure
    </button>
    <button class="tab-header" onClick="switchTab(event, 'returncode')">
        Code de retour
    </button>
    <div class="terminal">
        <div class="tab-content" id="stdout">
            <p class="command">$ {{result["executed_line"]}}</p>
            <p>{{result["stdout"]}}</p>
        </div>
        <div class="tab-content" id="stderr">
            <p class="command">$ {{result["executed_line"]}}</p>
            <p>{{result["stderr"]}}</p>
        </div>
        <div class="tab-content" id="returncode">
            <p class="command">$ {{result["executed_line"]}}</p>
            <p>{{result["returncode"]}}</p>
        </div>
    </div>
{% endblock %}