{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='projects.css')}}">
{% endblock %}

{% block content %}
    <h1>Projet Académique</h1>
    Vous trouverez ici un apperçus des projets que j'ai fait en tant qu'étudiante. 
    {% for project_diploma in projects %}
        <h2>{{project_diploma}}</h2>
        <div class="grid">
        {% for project in projects[project_diploma] %}
        <div class="card">
            <div>
                <img src={{project.image}}/>
                {% if project.link %}
                    <h3>{{project.name}}
                        <a href={{project.link}} target="_blank">
                            <i class={{project.logo_link}}></i>
                        </a>
                    </h3>
                {% else %}
                    <h3>{{project.name}}</h3>
                {% endif %}
                <p>{{project.description | safe}}</p>
                <div class="tags">
                    {% for tag in project.tags %}
                        <p>{{tag}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    {% endfor %}
{% endblock %}